@use '../../styles/_variables.scss';

.vertical-icon-bar {
  width: 60px;
  height: 100vh;
  background-color: variables.$white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-right: 1px solid variables.$border-color;
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.05);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  
  .icon-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  
  .bottom-icons {
    margin-top: auto;
  }
  
  .icon-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
    color: variables.$text-secondary;
    
    &:hover {
      background-color: rgba(variables.$primary-color, 0.1);
      color: variables.$primary-color;
    }
    
    &.active {
      background-color: rgba(variables.$primary-color, 0.2);
      color: variables.$primary-color;
    }
    
    svg {
      width: 24px;
      height: 24px;
    }
    
    .profile-avatar-icon {
      width: 24px;
      height: 24px;
      
      .avatar {
        width: 100%;
        height: 100%;
        border: 2px solid variables.$highlight-color;
        
        img, .avatar-fallback {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  
  .tooltip {
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    background-color: variables.$black;
    color: variables.$white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
    white-space: nowrap;
    margin-left: 10px;
    z-index: 1000;
    
    &::before {
      content: '';
      position: absolute;
      right: 100%;
      top: 50%;
      transform: translateY(-50%);
      border-width: 5px;
      border-style: solid;
      border-color: transparent variables.$black transparent transparent;
    }
  }
  
  @media (max-width: 768px) {
    display: none !important;
  }
}