.chat-ui-screen {
  display: flex;
  height: 100vh;
  width: 100%;

  @media (max-width: 768px) {
    &.chat-open .sidebar {
      display: none;
    }
    
    &.chat-open .chat-area {
      display: flex;
      width: 100%;
      height: 100%;
    }
    
    &:not(.chat-open) .chat-area {
      display: none;
    }
  }
}
