@use '../../styles/variables.scss';

.messages-container {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background: variables.$background-light;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
