@use '../../styles/variables.scss';

.sidebar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: variables.$white;
  border-right: 1px solid #e9e4f5; // Light purple tint for subtle separation
  box-shadow: 2px 0 5px rgba(106, 27, 154, 0.1); // Subtle shadow with purple tint
  position: relative;
  overflow: hidden;

  .sidebar-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
  }
  
  .sidebar-resizer {
    width: 5px;
    height: 100%;
    background: transparent;
    position: absolute;
    right: 0;
    top: 0;
    cursor: col-resize;
    z-index: 10;
    transition: background 0.3s;
    
    &:hover {
      background: variables.$primary-color;
    }
  }
}
