@use '../../styles/variables.scss';

.sidebar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: variables.$white;
  border-right: 1px solid variables.$border-color;
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.05);
  position: relative;

  .sidebar-content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .sidebar-resizer {
    width: 5px;
    height: 100%;
    background: transparent;
    position: absolute;
    right: 0;
    top: 0;
    cursor: col-resize;
    z-index: 10;
    transition: background 0.3s;
    
    &:hover {
      background: variables.$primary-color;
    }
  }
}
