@use '../../styles/variables.scss';

.chat-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: variables.$background-light;
  height: 100%;
  width: 100%;
  position: relative;

  .messages-wrapper {
    flex: 1;
    overflow-y: auto;
    background: variables.$background-light;
    width: 100%;
  }

  .input-container {
    padding: 8px 16px;
    background: variables.$background-light;
    border-top: 1px solid variables.$border-color;
    width: 100%;
  }

  .no-chat {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: variables.$text-secondary;
    font-size: 18px;
    background: variables.$background-light;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    text-align: center;
    width: 100%;

    .no-chat-icon {
      img {
        width: 300px;
        height: 300px;
        opacity: 0.7;
        border-radius: 50%;
      }
    }

    h2 {
      color: variables.$text-primary;
      font-size: 24px;
      font-weight: 500;
      margin: 0;
    }

    p {
      color: variables.$text-secondary;
      font-size: 16px;
      margin: 0;
      max-width: 300px;
    }
  }

  @media (max-width: 768px) {
    width: 100%;
    height: 100vh;
  }
}
